<div class="col-sm-8 blog-main">

	<h2><%= @blog.title %></h2>
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <%= link_to "Home", blogs_path, class: 'breadcrumb-item' %>
      <%= link_to @blog.topic.title, topic_path(@blog.topic), class: 'breadcrumb-item' %>
      <span class="breadcrumb-item active" aria-current="page"><%= @blog.title %></span>
      <div class="col">
        <span class="float-right">
          <% if logged_in?(:site_admin) %>
            <%= link_to fa_icon('edit'), edit_blog_path(@blog)   %>
            <%= link_to fa_icon('trash'), @blog, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </span>
      </div>

  </ol>
  </nav>
  <p><%= @blog.topic.title %></p>

	<p><%= markdown @blog.body %></p>

  <%= render 'comments/comment_form' %>
  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>

</div>


