<div class="comment-card">
  <div class="card">
    <div class="card-block">
      <div class="row">
        <div class="col-md-2 margins">
          <%= gravatar_helper comment.user%>
        </div>
        <div class="col-md-10 margins">
          <div>
            <%= comment.content %>
          </div>
          <div class="comment-attribution">
            Comment posted by <span class="comment-name"><%= comment.user.first_name %></span>
            <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago
          </div>
            <span class="pull-right"><%= link_to fa_icon('trash'), comment, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </div>
      </div>
    </div>
  </div>
</div>
