<div class="card shadow-sm" data-id="<%= portfolio_item.id %>">
  <%= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb'), width: '100%' %>
  <div class="card-body">
    <p class="card-text">
    	<span><%= portfolio_item.title %></span>
    	<%= portfolio_item.subtitle %>
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
      	<%= link_to "View", portfolio_show_path(portfolio_item), class: 'btn btn-sm btn-outline-secondary' %>
      	<%= link_to "Edit", edit_portfolio_path(portfolio_item), class: 'btn btn-sm btn-outline-secondary'  if logged_in?(:site_admin)%>
      </div>

    </div>
  </div>
</div>

