<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">In daily work I mostly write VBA and Google app scripts. Since few weeks I started to learn Ruby on Rails, which is quite handy.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Explore</h4>
          <ul class="list-unstyled">
            <li><%= link_to "Home", root_path, class: 'text-white' %></li>
						<li><%= link_to "About", about_me_path, class: 'text-white'%></li>
						<li><%= link_to "Contact", contact_path, class: 'text-white'%></li>
						<li><%= link_to "Blog", blogs_path, class: 'text-white'%></li>
						<li><%= link_to "Portfolio", portfolios_path, class: 'text-white' %></li>
						<li><%= login_helper 'text-white' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
     
        <strong>Przemek Zastawny</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
