<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title><%= @page_title %></title>
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex h-100 text-center text-white bg-dark">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render "shared/nav", location: 'top' %>

    <%= login_helper %>

    <%= yield %>

    <%= source_helper("application") %>

    <footer class="mt-auto text-white-50">
      <%= @copyright %>
    </footer>
  </body>
</html>
